In [1]:
import mysql.connector
import pandas as pd
from datetime import datetime

mydb = mysql.connector.connect(
    host="192.168.70.208",
    user="wahyu",
    password="96Z2vS9?hD9s2p#Q",
    database="idsg",
    auth_plugin="mysql_native_password"
)

print(mydb)

mycursor = mydb.cursor()

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000021494EBE940>

In [2]:
df = pd.read_csv("csv_ETL_Data_APM_DIY.csv")
df

,provinsi,kategori,kabkot,urusan,indikator,satuan,tahun,nilai
0,D.I. Yogyakarta,Provinsi,NaN,Pendidikan,Angka Partisipasi Murni SD,%,2019,99.53
1,D.I. Yogyakarta,Provinsi,NaN,Pendidikan,Angka Partisipasi Murni SD,%,2018,99.50
2,D.I. Yogyakarta,Provinsi,NaN,Pendidikan,Angka Partisipasi Murni SMP,%,2019,84.04
3,D.I. Yogyakarta,Provinsi,NaN,Pendidikan,Angka Partisipasi Murni SMP,%,2018,83.61
4,D.I. Yogyakarta,Provinsi,NaN,Pendidikan,Angka Partisipasi Murni SMA,%,2019,70.49
5,D.I. Yogyakarta,Provinsi,NaN,Pendidikan,Angka Partisipasi Murni SMA,%,2018,70.22

In [3]:
now = datetime.now()

current_time = now
print("Current Time =", current_time)

Current Time = 2022-02-15 10:43:36.257276

In [4]:
df.insert(loc=0, column='id', value="")
df["id_usecase"] = 52
df["id_api"] = 52
df["updated_at"] = now
df["created_at"] = now

In [5]:
df = df.fillna("")
df

,id,provinsi,kategori,kabkot,urusan,indikator,satuan,tahun,nilai,id_usecase,id_api,updated_at,created_at
0,,D.I. Yogyakarta,Provinsi,,Pendidikan,Angka Partisipasi Murni SD,%,2019,99.53,52,52,2022-02-15 10:43:36.257276,2022-02-15 10:43:36.257276
1,,D.I. Yogyakarta,Provinsi,,Pendidikan,Angka Partisipasi Murni SD,%,2018,99.50,52,52,2022-02-15 10:43:36.257276,2022-02-15 10:43:36.257276
2,,D.I. Yogyakarta,Provinsi,,Pendidikan,Angka Partisipasi Murni SMP,%,2019,84.04,52,52,2022-02-15 10:43:36.257276,2022-02-15 10:43:36.257276
3,,D.I. Yogyakarta,Provinsi,,Pendidikan,Angka Partisipasi Murni SMP,%,2018,83.61,52,52,2022-02-15 10:43:36.257276,2022-02-15 10:43:36.257276
4,,D.I. Yogyakarta,Provinsi,,Pendidikan,Angka Partisipasi Murni SMA,%,2019,70.49,52,52,2022-02-15 10:43:36.257276,2022-02-15 10:43:36.257276
5,,D.I. Yogyakarta,Provinsi,,Pendidikan,Angka Partisipasi Murni SMA,%,2018,70.22,52,52,2022-02-15 10:43:36.257276,2022-02-15 10:43:36.257276

In [6]:
data = df.to_dict('records')

In [7]:
sql = """
    INSERT INTO iku_chart_bigbox (provinsi, kategori, kabkot, urusan, indikator, satuan, tahun, nilai, id_usecase, id_api, updated_at, created_at)
    VALUES ( %(provinsi)s, %(kategori)s, %(kabkot)s, %(urusan)s, %(indikator)s, %(satuan)s, %(tahun)s, %(nilai)s, %(id_usecase)s, %(id_api)s, %(updated_at)s, %(created_at)s   )
    """

In [8]:
for i in range(len(data)):
    mycursor.execute(sql,data[i])
    mydb.commit()